body {
    text-align: center;
    margin: auto;
}

#bg-color {
    max-height: 100%;
    max-width: 100%;
}

#name {
    font-size: 40px;
}

.right {
    background-color: green;
}

.wrong {
    background-color: red;
}